@model PRN222_TaskManagement.Models.User
@{
    ViewData["Title"] = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h1>Login</h1>
<hr />
<div class="row">
    <div class="col-md-4">
        @if(TempData["Error"] !=null){
            <div class="text-danger">@TempData["Error"]</div>
        }
        <form asp-action="Login">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@Model.Email" class="control-label"></label>
                <input asp-for="@Model.Email" class="form-control" />
                <span asp-validation-for="@Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@Model.PasswordHash" class="control-label"></label>
                <input asp-for="@Model.PasswordHash" class="form-control" type="password"/>
                <span asp-validation-for="@Model.PasswordHash" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Login" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
